<main class='p-5'>
  <div class='card p-5'>
    <p id='test'>
      Hello world Hello world Hello world Hello world Hello
      world Hello world
    </p>
    <p id='test'>
      Hello world
    </p>
    <p id='test'>
      Hello world
    </p>
    <span class='test'>test</span>
  </div>
  <pre>
    test

  </pre>
  <div style='margin: 50 px 100 px 150 px 50 px'>
    <div>New div Block</div>
    <div class='block' mb-5>
      Class blockClass blockClass blockClass block
    </div>
    <div>Block</div>
    <span> Class block</span>
  </div>
  <h1> Hello dear</h1>
  <h2>border-bottom-left-radius: 25px:</h2>
  <div id='example1'>
    <p>The border-bottom-left-radius property defines the
      radius of the bottom-left corner.</p>
  </div>

  <h2>border-bottom-left-radius: 50px 20px:</h2>
  <div id='example2'>
    <p>If two values are set; the first one is for the
      bottom border, the second one for the left border.</p>
  </div>

</main>