{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
{{! 
<section class='p-5 box'>
  <h1 class='p-top'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5
    mm</h1>
    <em>kuku</em>
  <p class='user p-top'>
    Link

  </p>
</section>
  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <em>kuku</em>
  <button type='button' class='button'>Купити</button>
    <div>
        <p>This is text </p>
    </div>  }}

{{! <footer>
        <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class="user">
        <em class="child">Test m</em>
    </p>
    </footer> }}

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}
{{! 
<div class='card p-5 m-5 card-dark'>
  <div class='card-body'>
    <ul>
      <li class='item'>1</li>
      <li class='item'>2</li>
      <li class='item'>3</li>
      <li class='item'>4</li>
    </ul>
  </div>
  <div>
    <div class='item'>only child</div>
  </div>
  <div class='user'>
    <div class='user'>
      <p class='user'>first-of-type</p>
    </div>
  </div>
  <div class='user'>
    <div class='user'>
      <p class='user'>first of type</p>
      <p>middle</p>
      <p class='user'>last-of-type</p>
    </div>
  </div>
  <div>
    <div class='u'>
      Test
    </div>
    <strong class='u'>
      only-of-type
    </strong>
    <div class='u'>
      Test
    </div>
  </div>
  <div class='o'>
    <h5>p:nth-child(n)</h5>
    <p class='o'>
      1
    </p>
    <p class='o'>
      2
    </p>
    <p class='o'>
      5
    </p>
  </div>
  <div>

    <p class='even-odd'>even</p>
    <p class='even-odd'>odd</p>

  </div>
  <div>
    nth-child(3n+1)
  </div>

</div> }}
{{! <h2> Selectors. Part3</h2>
<div class='card card-dark m-5 p-5'>
  <input class='input-dark' required />
  <input class='input-dark' type='number' />

</div>
<div class='card p-5 m-5 img'>
  <div class='card-body'>
    <img
      alt='image small card 100px'
      src='https://picsum.photos/200/300'
      class='small-img'
    />
    <br />
    <a
      href='https://picsum.photos/200/300'
      rel='external'
    >link </a>
    <br />
    <br />
    <button class='btn'>Click me</button>
    <br />
    <br />
    <a
      class='small btn btn-secondary big'
      href='https://picsum.photos/200/300'
    >Click me</a>
  </div>
</div>
<div class='card card-dark m-5 p-5'>

  <div class='card-body'>
    <p class='big-text'>
      Text info<br />Text info
    </p>
  </div>
</div>
<div class='card card-dark m-5 p-5'>

  <div class='card-body'>
    <input class='input-dark' placeholder='this is text' />

  </div>
</div>
<div class='card card-dark m-5 p-5'>

  <div class='card-body'>
    <input class='input-dark' placeholder='this is text' />

  </div>
</div> }}
{{! 
<div lang='fr' class='card m-5 p-5 card-dark'>
  <a
    class='link'
    href='https://www.goobjhvjhgle.com/search?client=firefox-b-d&q=google'
  >Click me</a>
</div>

<div lang='en' id='test' class='card m-5 p-5 card-dark'>
  <input />
  <span>Hello world</span>
  <button>test button</button>
</div>
<div id='test' class='card m-5 p-5 card-dark'>
  <button>test button</button>
  <br /><br />
  <br />

  <button disabled>disabled test button</button>
</div>
<div id='test' class='card m-5 p-5 card-dark'>
  <input class='ing' readonly />
  <div class='mt-5'>
    <div>
      <input type='checkbox' checked />
      <span>First checkbox</span>
    </div>
    <div>
      <input type='checkbox' />
      <span>Second checkbox</span>
    </div>

  </div>

</div>
<div class='card m-5 p-5 card-dark'>
  <div>
    <input type='number' required class='number' />
  </div>
  <br />
  <br />
  <div class='mt-5'>
    <input
      type='number'
      min='10'
      max='20'
      required
      class='number'
    />
    <br />
    <input placeholder='test' />
    <span>tset</span>
  </div>

</div> }}
test