* {
  font-family: fantasy;
  font-size: 106px;
}
:root {
  background:purple;
}
html {
  max-width: 720px;
  background: blue;
}

body {
  background: #fff;
}
* {
  color:red;
}
h1 {
  color: blue;
}
.box {
  background: rgb(159, 155, 155);
}
#user,
.user {
  color:aquamarine;
}
h1, 
 button {
  color:forestgreen;
}
h1, .button 
h2{
  background: lightblue;
}
.box > p {
  color:deeppink
}
footer > .h2 {
  color: red;
}
footer .child {
  color: whitesmoke;
  background: blueviolet;
}
.p-top {
  background: slateblue
}
h2 + button {
  background: black;
}
section ~ p {
  background: brown
}
h1 ~ div ~ p {
  background: black;
} 


.card-dark {
  background: rgb(231, 225, 225);

}
.item {
  color:greenyellow
}
.item:last-child {
color: red
}
.item:only-child {
  color: black
}
.user:first-of-type {
  color:purple
}
.user:last-of-type {
  color: orange
}
.u:only-of-type {
  background: red;
}
.o:nth-child(4) {
  background: blue
}
.even-odd:nth-child(odd) {
  background: yellowgreen;
}
.item:nth-last-child(2) {
  background: blue
}
.item:nth-of-type(2n) {
  background: pink
}
.item:nth-last-of-type(2n) {
  background: goldenrod
}
p:not(.item) {
  height: 100px;
 
background: rgb(211, 149, 211);
}
.input-dark[required] {
  background: red
}
.input-dark[type='number'] {
  background: green
}
.small-img [alt~='small'] {
  height: 500px;
}
.card[alt~="img"] {
 height: 1500px;

}
a[rel~="external"] {
  color: green;
}
button[class|="btn"] {
  background: rgb(103, 193, 137);
}
a[class*="btn"] {
  background: plum;
}
a[class$="big"] {
  background: rgb(106, 19, 120);
}
.btn::first-letter {
  color: red;
}
.big-text::first-line {
  color:red
}
.input-dark::placeholder {
  color:green;
  background: blueviolet;
}
.big-text::before {
  content: "3$";
  color: green;
}
.big-text::after {
  content: "3$";
  background: green;
}
#test:target {
  color: red;
}
.link:link {
  color:blueviolet
}
.link:hover {
  color:aqua
}
.card:hover {
  background: rgb(223, 153, 223);
}
.link:hover {
  color:purple
}
.card:active {
  background: rgb(56, 32, 56);
}
input {
  background-color: grey;
}
input:focus {
  background-color: rgb(23, 23, 23);
}
.card:focus-within {
  background-color: rgb(137, 215, 82);
}
.card:lang(en) > span::after {

  content: " (en)";
}
button {
  background-color: aquamarine;
}
button:enabled {
  background-color: rgb(152, 232, 78);
}
button:disabled {
  background-color: rgb(211, 222, 85);
}
.ing:read-only {
  background-color: red;
}
input[type="checkbox"] ~ span{
  background: olivedrab;
}
input[type="checkbox"]:checked ~ span{
  background: rgb(37, 203, 81);
}
.valid:valid {
  background: yellow;
}
.valid:invalid {
  background: rgb(77, 77, 23);
}
.valid:optional {
  background: rgb(57, 174, 65);
}
.number:focus {
  background: grey;
}
.number:out-of-range {
  background: red;
}
.number:in-range {
  background:rgb(37, 203, 81);
}
input:placeholder-shown ~ span {
  background: fuchsia;
}
