@layer component, variant;
@font-face {
    font-family: "HelveticaNeueBold.ttf" ;
    src: url("../font/HelveticaNeueBold.ttf");
}
body {
    font-family: "HelveticaNeueBold.ttf", sans-serif;
    background-color: var(--color-white);
}
:root {
   --color-white: #fff; 
   --color-black: black;
   --color-primary:  #611F69;
   --color-loght:  #F4EDE4;
   --page-width-big: 1260px;
   --page-width-medium: 1000px;
   --page--width-small: 700px;
   --spacing-2: 8px;
   --spacing-2: 12px;
   --spacing-3: 16px;
   --spacing-4: 20px;
   --spacing-5: 24px;
   --spacing-6: 28px;
   --spacing-7: 32px;
   --spacing-7: 36px;
   --size-1: 14px;
   --size-2: 18px;
   --size-3: 22px;
   --size-4: 26px;
   --size-5: 30px;
   --size-6: 34px;
   --radius-1: 4px;
   --opacity-1: 0.7;
   --opacity-2: 0.5;
   --transition-1: 0.6 ;
   --line-height: 1.5em;
}
.page{
 display: grid;  
}
@layer component{
 .page_section {
    display: flex;
    justify-content: center;
}   
}

.page_content {
    width: 100%;
    padding: var(--spacing-3);
    
}


@media all and (1260px <= width) {
    .page_content {
        max-width: var(--page-width-big);
    }  
}
@media all and (1000px <= width < 1260px) {
    .page_content {
        max-width: var(--page-width-medium);
    }  
}
@media all and (width < 1000px) {
    .page_content {
        max-width: var(--page-width-small);
    }  
}
.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
    
    height: 60vh;
     min-height: 680px;
}
.hero{
 display: flex;
 height: 100%;
 align-items: center; 
 }
.hero_content{
    display: grid;
    gap: var(--spacing-4);
    max-width: 425px;
    color: var(--color-black);
    position: relative;
}
.brands{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: var(--spacing-8);
  row-gap: var(--spacing-4);
  flex-wrap: wrap;
}
.hero_image{
   
   position: absolute;
   left: 580px;
   top: 0;
}
.hero_label {
font-size: var(--size-1);
}  
.hero_title {
font-size: 50px;

}
.hero_info {
    font-size: var(--size-2)
}
.hero_buttons {
   display: grid; 
   grid-template-columns: 1fr 1fr;
   gap: var(--spacing-5);
}
@layer component{
 .button {
 text-decoration: none;

 padding: var(--spacing-3);
 border-radius: var(--radius-1);
 text-align: center;
 border: 1px solid transparent;
 transition: opacity var(--transition-1);
}
.click {
    transition: opacity var(--transition-1);
}
.click:hover{
    opacity: var(--opacity-1);
    cursor: pointer;
}
.click:active {
    opacity: var(--opacity-2);
}
   
}
@layer variant {
    
    .button_secondary{
        border-color: var(--color-primary);
        color: var(--color-primary) ;
        border-width: 2px;
    }
    .button_primary {
        color: var(--color-white);
        background-color: var(--color-primary);
    }
    
}
.features_section {
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    gap: var(--spacing-5);
    
}

@layer variant {
  .page_section_light {
    background-color: var(--color-loght)
}  
}
.features_title {
font-size: var(--size-6);
}
.features_description{
    font-size: var(--size-2);
    max-width: 520px;
   
}
.feat_card{
padding: var(--spacing-3);
background-color: var(--color-white);
display:grid ;
gap: var(--spacing-3);
grid-template-rows: min-content min-content 1fr min-content;
font-size: var(--size-2);

}
@layer component {
    .icon{
        display: block;
        height: 48px;
        width: 48px;
        background-repeat: no-repeat;
        background-position: center;

    }
}
@layer variant {
    .feat_icon {
        height: 48px;
        width: 48px;
    }
    .icon_arrow {
        height: 14px;
        width: 24px;  
        background-image: url('/img/arrow-right.svg');
    }
}
.feat_link {
 justify-self: flex-end;
}
.features_grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-3);
    
}
.features_grid_4 > .feat_card:first-of-type {
grid-row: 1 / 3;
}
@layer component {
    .double_line {
        height: var(--line-height);
    }
}