@keyframes fly {
  from{
    top: 0;
    left:0;
    background: #0804f3;
  }
  25%{
    top: 500px;
    
    left: 500px;
    background: #a4a3ef;
  }
  50%{

    left:0;
    background: #27c5e0;
  }
  to {
    top: 0;
    left:0;
    background: #4ae332;
  }
}
:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;
  --size-d: 16px;
  --size-s: 14px;
  --size-m: 20px;
  --size-l: 20px;
  --color-border: #dee2e6;
  --color-primary: #0804f3;
  --color-white: #fff;
  --border-radius: 12px;
  --color-title: #5a5a5a;
  --color-text: #343a40;
  --weight-title: 500;
  --weight-text: 400;

}

/* ================================ */

.page {
  background: #fff;
  padding: 0 15 px;
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: 960px;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* ===================================== */
.header {
  padding: var(--space-l);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  position: sticky;

  max-width: 960px;
  width: 100%;
  top: 0;
  z-index: 1;
  background: #fff;

}
.logo {
  font-size: 17px;
  background: var(--color-primary);
  color: var(--color-white);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius)/2);
  display: flex;
  justify-content: center;
  align-items: center;

}
.modal {
  position: fixed;
  top:  200px;
  left: 500px;
  background: rgba(7, 0, 0, 0.879);
  padding: 24px;
  line-height: 150%;
  
  width: 600px;
   border-radius: 24px;
  z-index: 1;
  color: #fff;
  /* transition-property: top;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(-0.86, 0, 0.07, 1);
  transition-delay: 3s;
   */
}
body:hover .modal{
  /* top:600px; */
  animation-name: fly;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.99, 0.04, 0.4, 0.71);
  animation-delay: 2s;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;
  animation-fill-mode: both;
  
}
.modal:hover .modal{
  animation-play-state: paused;
}

.modal_photo {
  height: 400px;
  width: 400px;
  
  margin-top: 5px;
  margin-right: 5px;
 
  background-color: #0804f3;
  object-position:  top;
 
}
.modal_text {
  caret-color: #0804f3;

} 
.input {
  caret-color: #0804f3;
  border: 1px solid var(--color-text);
  
}
.divider {
  
  margin-top: var(--space-l);
  height: 1px;
  background: var(--color-border)

}
.nav {
  display: block;

}
.nav_link {
  color: #343A40;
  font-size: 16px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;

}
.nav_link:hover {
  color: #157fe9;
  font-size: 16px;
  text-decoration: underline;

}
.nav_vertical > .nav_link {
  display:block;

}
.nav_inline > .nav_link:not(:last-child) {
 margin-right: 24px;
}
.nav_vertical> .nav_link:not(:last-child) {
  margin-bottom: 12px;
 }
.nav_link:hover {
  color: #157fe9;
  font-size: var(--size-d);
  text-decoration: underline;

}
/* .nav_vertical > .nav_link {
  display:block;

}
.nav_inline > .nav_link:not(:last-child) {
 margin-right: 24px;
}
.nav_vertical> .nav_link:not(:last-child) {
  margin-bottom: 12px;
 }  */
 .header_nav_right {
  margin-left: auto;
  width: fit-content;
 }
 .page_block:not(:last-child) {
  margin-bottom: 80px;
 }
 .footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  position:fixed;
  width: 960px;
  bottom: 0;
  z-index: 1;
  background: #fff;
 }
 .footer_copyright {
  font-size: var(--size-s);
  color: #6c757d;
  display: flex;
  margin-top: var(--space-l);
 }
 .footer_title{
  font-size: var(--space-l);
  color: var(--color-title);
  display: flex;
  margin-bottom: var(--space-m);
  font-weight: var(--weight-title);


 }
 .hero {
  display: flex;
  align-items: center;
  gap: var(--space-b);
  padding: var(--space-b)
 }
 .hero_photo {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
 }

 .hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
 }
 .hero_title {
  font-size: 50px;
  font-weight: var(--weight-title);
  color: var(--color-title
  
  
  );
  line-height: 120%;
 }
 .hero_text {
  font-size: 20px;
  font-weight: var(--weight-text);
  color: var(--color-text);
  line-height: 170%;
 }
 .blog {
  display: flex;
  gap: var(--space-b);
  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
 }
 .card {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 gap: var(--space-l);

 }
.card_image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.card_title {
  font-size: 32px;
  font-weight: var(--weight-title);
  color: var(--color-title);

}
.card_text {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-title)
}
.card_button {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.button:hover {
  opacity: 0.7;
  background-color: #6c757d;
}
 .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
  padding: var(--space-l);
  border-radius: var(--border-radius);

 }
 .form_content {
  display:  flex;
  flex-direction: column;
  gap: var(--space-m);
 }
 .form_title {
  font-size: 27px;
  font-weight: var(--weight-title);
  color: var(--color-white)
 }
 .form_info {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-white);
 }
 .button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  padding: var(--space-m) var(--space-xm);
  border-radius: var(--border-radius); 
  transition: opacity 1s, background-color 1s;

 }
 .form_button {
  
  background-color: var(--color-white);
  border-radius: calc(var(--border-radius));


  color: var(--color-text);
}