:root {
  --text-color: green;
}
.page {
  padding: 0 15px;
}
.page_content {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  padding: 24px;
  border-bottom: 1px solid #dee2e6;

}
.logo {
  font-size: 17px;
}
.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6

}

.nav {
  display: block;

}
.nav_link {
  color: #343A40;
  font-size: 16px;
  text-decoration: none;

}
.nav_link:hover {
  color: #157fe9;
  font-size: 16px;
  text-decoration: underline;

}
.nav_vertical > .nav_link {
  display:block;

}
.nav_inline > .nav_link:not(:last-child) {
 margin-right: 24px;
}
.nav_vertical> .nav_link:not(:last-child) {
  margin-bottom: 12px;
 }
 .header_nav_right {
  margin-left: auto;
  width: fit-content;
 }
 .page_block:not(:last-of-type) {
  margin-bottom: 80px;
 }
 .footer {
  padding: 24px 0;
  border-top: 1px solid #dee2e6;
 }
 .footer_copyright {
  font-size: 14px;
  color: #6c757d;
  display: block;
  margin-top: 12px;
 }
 .footer_title{
  font-size: 24px;
  color: var(--text-color,#212529);
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
 }
 .hero_title {
  font-size: 56 px;
  color: var(--text-color,#212529);
  font-weight: 550;
  margin: 12px;
  text-align: center;
  line-height: 100%;
 }
 .hero_text {
  font-size: 20 px;
  color: var(--text-color,#212529);
  margin: 0 auto;
  text-align: center;
  max-width: 585px;
  line-height: 200%;
 }
 .plans_card:not(:last-of-type) {
  margin-right: 24px;
 }
 .card-header {
  padding: 12px;
  text-align: center;
  font-size: 24px;
  color:var(--text-color,#212529);
 }
 .card-header {
  padding: 24px;
 }
 .card_block {
  text-align: center;
  margin-bottom: 24px;
 }
 .card_price_amount {
  front-size: 40px;
  color: var(--text-color,#212529)

 }
 .card_price_duration {
  front-size: 29px;
  color: #6c757d;
  vertical-align: 15px;

 }
 .card_price_duration {
  front-size: 29px;
  color: #6c757d

 }
 .card_description {
  margin-bottom: 24px;
 }
 .card_description_item {
  font-size: 16px;
  color: var(--text-color,#212529);
  display:block;
  text-align: center;

 }
 .card_description_item:not(:last-of-type) {
  margin-bottom: 12px;
 
 }
 .card_block:not(:last-of-type) {
  margin-bottom: 24px;
 }
 .card_button {
  display: block;
  width:100%;
  font-size: 19px;
  padding: 9px;

}
.card {
  border: 2px solid rgb(1, 1, 7);
  border-radius: 15px 50px 0px ;
  
 
}
.card:hover {
  outline: 2px solid blue;
  outline-offset: 5px;
  border-radius: 25;
  box-shadow: 5px 5px 2px 2px rgb(64, 45, 83);
  cursor: zoom-in;
  opacity: 50%;
 
}
.btn {
  border-radius: 25px;
  box-shadow: 5px 5px 2px 2px rgb(64, 45, 83);
  
}
.btn:hover {
  border-radius: 25px;
  box-shadow: 5px 5px 2px 2px rgb(64, 45, 83);
  opacity: 50%;
  
}
h1 {
  text-shadow: 2px 2px 2px grey;
  
  
}
.plans_card:nth-child(2) > .card{
  background: rgb(86, 155, 239, 50%) ;
 
  
}
p {

  width: 950px;
  height: 100px;
  overflow: ellipsis;
  overflow: hidden;
  resize: both;
  white-space: normal;
}
body {
  
  background-attachment: scroll;
  background-size: cover;
  
 
}

.hero_text {
  padding: 40px;
  color:aquamarine;
  height: 250px;
  border-image-source: url(/img/images.jpeg);
  border-image-width: 60%;
  border-image-slice: 5% 100%;
  border-image-repeat: repeat;
  border-image-outset: 10px;
 
}


.card_description_item {
  display: list-item;
  padding: 0;
  list-style-position: outside;
}
.card_block {
   list-style-type: square;
  list-style-image: linear-gradient(to bottom right, blue, red,);

}
.table_tr {
  border: 1px solid #157fe9;
}

.table tr td {
  border: 1px solid #159d1e;
  border-bottom-color: red;
}
.table {
  table-layout: auto;
  width: 200px;
  border-collapse: unset;
  border-spacing: 20px 10px;
  caption-side: top;
  empty-cells: hide;
  opacity: 50%;
}
.nav_link::before,
.nav_link::after
 {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url(/img/images.jpeg);
}
.nav_link::before {
  paddining-right: 15px;
}
.calc {
  width: 600px;
  margin: 0;
  margin-right: calc(50% - 300px);
}
