.page {
  background: #ffffff;
  padding: 0 15px;
}
.page_content {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  padding: 24px;
  border-bottom: 1px solid #dee2e6;

}
.logo {
  font-size: 17px;
}
.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6

}
.nav {
  display: block;

}
.nav_link {
  color: #343A40;
  font-size: 16px;
  text-decoration: none;

}
.nav_link:hover {
  color: #157fe9;
  font-size: 16px;
  text-decoration: underline;

}
.nav_vertical > .nav_link {
  display:block;

}
.nav_inline > .nav_link:not(:last-child) {
 margin-right: 24px;
}
.nav_vertical> .nav_link:not(:last-child) {
  margin-bottom: 12px;
 }
 .header_nav_right {
  margin-left: auto;
  width: fit-content;
 }
 .page_block:not(:last-child) {
  margin-bottom: 80px;
 }
 .footer {
  padding: 24px 0;
  border-top: 1px solid #dee2e6;
 }
 .footer_copyright {
  font-size: 14px;
  color: #6c757d;
  display: block;
  margin-top: 12px;
 }
 .footer_title{
  font-size: 24px;
  color: #212529;
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
 }
 .hero_title {
  font-size: 56 px;
  color: #ffffff;
  font-weight: 550;
  
  text-align: left;
  line-height: 100%;
 }
 .hero_text {
  font-size: 20 px;
  color: #ffffff;

  text-align: left;
  max-width: 585px;
  line-height: 200%;
 }
 .hero {
  background: #343A40;
  border-radius: 24px;
  padding: 80px;
 
 }
 .button {
  
  text-decoration: none;
  color:#ffffff;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  max-width: 248px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #007BFF;
  background: #007BFF;
  text-align: center;

 }
 .button:hover {
  background: #68a7eb;
 }
 .preview {
  border-radius: 24px;
  border: 1px solid #DEE2E6;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;

 }
 .preview_header_item:not(:last-of-type) {
  margin-right: 12px;

 }
 .preview_header > span:not(:last-of-type) {
  margin-right: 12px;
 }
 .preview_date {
  color: #6C757D;
  font-size: 16px;

 }
 .preview_category {
  
  font-size: 16px;
 }
 .preview > *:not(:last-child) {
  margin-bottom: 12px;
 }
 .preview_title {
  display: block;
  color: #343A40;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 500;

 }
 .preview_description {
 color: #212529;
font-size: 16px;
font-weight: 400;
line-height: 24px;
 }
 .preview_category_1 {
  color: #007BFF;
 }
 .preview_category_2 {
  color: #198754;
 }
 .preview_category_3 {
  color: #F00;;
 }
 .preview_category_4 {
  color: #FF7A00;
 }
 .list_title {
  font-weight: 500;
  font-size: 32px;
  color: #212529;
  margin: 0;
 }
 .list_header {
  padding-bottom: 12px;
  
  border-bottom: 1px solid #DEE2E6;
  margin-bottom: 40px;

 }
 .category_button {

color: #6C757D;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 100%;
padding: 10px 16px;
border-radius: 40px;
border: 1px solid #6c757d;
 }
 .category_button:hover {
  background: #bbbdbe;
 }
 .list_aside {
  margin-left: 40px;
 }
 .categoroes_list {
  text-align: right;
 }
 .list > *:not(:last-child) {
  margin-bottom: 40px;
 }
 .post {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
 }
 .post > *not(:last-child) {
  margin-bottom: 12px;
 }
 .post_title {
  display: block;
  color: #212529;
  font-size: 27px;
  font-weight: 500
 }
 .post_info {
  color: #999;

font-size: 16px;
font-weight: 400;
 }
 .post_author {
  color: #0050FF;
 }
 .post_description {
  color: #212529;
  margin-top: 12px;
font-size: 16px;
font-weight: 400;
line-height: 24px;

 }
 .list_aside > *:not(:last-child) {
  margin-bottom: 24px;
 }
 .about {
  background: #F8F9FA;
  padding: 24px;
 }
 .about_title {
  color: #212529;
   font-size: 20px;
   font-weight: 500;
 }
 .about_text {
  color: #212529;
font-size: 14px;
font-weight: 400;
line-height: 170%
 }
 .link_list {
  padding: 24px;
 }
 .link_title {
  display: block;
  font-weight: 500;
  font-size: 24px;
 }
 .link_list > *:not(:last-child) {
  margin-bottom: 12px;
 }
 .link_item {
  font-size: 16px;
color: #007BFF;
font-size: 15px;
font-weight: 400;
display: block;
text-decoration:none;
}
.link_item:hover {
  text-decoration: underline;
}