:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;
  --size-d: 16px;
  --size-s: 14px;
  --size-m: 20px;
  --size-l: 20px;
  --color-border: #dee2e6;
  --color-primary: #0804f3;
  --color-white: #fff;
  --border-radius: 12px;
  --color-title: #5a5a5a;
  --color-text: #343a40;
  --weight-title: 500;
  --weight-text: 400;

}

/* ================================ */

.page {
  background: #fff;
  padding: 0 15 px;
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: 960px;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* ===================================== */
.header {
  padding: var(--space-l);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;

}
.logo {
  font-size: 17px;
  background: var(--color-primary);
  color: var(--color-white);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius)/2);
  display: flex;
  justify-content: center;
  align-items: center;

}
.divider {
  
  margin-top: var(--space-l);
  height: 1px;
  background: var(--color-border);
}
.nav {
  display: block;

}
.nav_link {
  color: #343A40;
  font-size: 16px;
  text-decoration: none;

}
.nav_link:hover {
  color: #157fe9;
  font-size: 16px;
  text-decoration: underline;

}
.nav_vertical > .nav_link {
  display:block;

}
.nav_inline > .nav_link:not(:last-child) {
 margin-right: 24px;
}
.nav_vertical> .nav_link:not(:last-child) {
  margin-bottom: 12px;
 }
.nav_link:hover {
  color: #157fe9;
  font-size: var(--size-d);
  text-decoration: underline;

}
/* .nav_vertical > .nav_link {
  display:block;

}
.nav_inline > .nav_link:not(:last-child) {
 margin-right: 24px;
}
.nav_vertical> .nav_link:not(:last-child) {
  margin-bottom: 12px;
 }  */
 .header_nav_right {
  margin-left: auto;
  width: fit-content;
 }
 .page_block:not(:last-child) {
  margin-bottom: 80px;
 }
 .footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
 }
 .footer_copyright {
  font-size: var(--size-s);
  color: #6c757d;
  display: flex;
  margin-top: var(--space-l);
 }
 .footer_title{
  font-size: var(--space-l);
  color: var(--color-title);
  display: flex;
  margin-bottom: var(--space-m);
  font-weight: var(--weight-title);
 }
 .button:hover {
  opacity: 0.7;
}
  .button {
 
  font-size: 16px;
  text-decoration: none;
  
  border-radius: var(--border-radius);
  background: #6C757D; 
  max-width: 120px;
  width: 100%;
  padding: 16px 12px 16px 12px;
  align-items: left;

 }

 .main_info {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: var(--space-l);
  padding-left: 80px;
  vertical-align: center;
 }
 .main_image {
 
  max-width: 500;
  max-height: 500;
  border-radius: 12px !important;
  vertical-align: middle ;
 }
 .heading {
  color: #5A5A5A;
  font-size: 36px;
 
 }
 .featured_card{
  padding-left: 26px;
  padding-right: 26px;
 }
 .heading_featured{
  color: #212529;
  font-size: 31px;
  padding-top: 24px;

 }
 .info{
  padding-top: 24px;
  color:#212529;
  size: 16px;

 }
.linkUrl{
font-size: 16px ;
}
.actions_block
{  background: var(--color-primary) ;
  border-radius: var(--border-radius);
}
.actions {
  padding: 24px;
}
.heading_actions {
  color: var(--color-white);
  font-size: 24px;

}
.button_actions{
  display: inline-block;
  background: var(--color-white);
  color: #212529;
  max-width: 240px;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  padding: 16px 50px  16px 50px ;
  border-radius: var(--border-radius);
  margin-top: 8px;
  text-align: center;

}
.hr{
  margin-top: 40px;
}
 
