:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;
  --size-d: 16px;
  --size-s: 14px;
  --size-m: 20px;
  --size-l: 20px;
  --size-b:24px;
  --color-border: #dee2e6;
  --color-border-light: #e4eaf2;
  --color-primary: rgb(27, 61, 233);
  --color-white: #fff;
 
  --border-radius: 12px;
  --color-title: #212529;
  --color-text: #343a40;
  --weight-title: 700;
  --weight-text: 400;
  --page-width: 1000px;

}

.page_content {
  max-width: 1000px;
  margin: 0 auto;
  
  width: 100%;
 
  
}

.header {
  padding: var(--space-l);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

}
.logo {
  font-size: 17px;
  background: var(--color-primary);
  color: var(--color-white);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius)/2);
  display: flex;
  justify-content: center;
  align-items: center;

}
.divider {
  
  margin-top: var(--space-l);
  height: 1px;
  background: var(--color-border)

}
.nav {
  display: block;

}
.nav_link {
  color: #343A40;
  font-size: 16px;
  text-decoration: none;

}
.nav_link:hover {
  color: #157fe9;
  font-size: 16px;
  text-decoration: underline;

}
.nav_vertical > .nav_link {
  display:block;

}
.nav_inline > .nav_link:not(:last-child) {
 margin-right: 24px;
}
.nav_vertical> .nav_link:not(:last-child) {
  margin-bottom: 12px;
 }
.nav_link:hover {
  color: #157fe9;
  font-size: var(--size-d);
  text-decoration: underline;

}

 .header_nav_right {
  margin-left: auto;
  width: fit-content;
 }

 .footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
 }
 .footer_copyright {
  font-size: var(--size-s);
  color: #6c757d;
  display: flex;
  margin-top: var(--space-l);
 }
 .footer_title{
  font-size: var(--space-l);
  color: var(--color-title);
  display: flex;
  margin-bottom: var(--space-m);
  font-weight: var(--weight-title);


 }
 .main{
  display: flex;
  gap:40 px;
  margin-bottom: 80px;
  align-items: flex-start;
 }






  .form{
    max-width: 340px;
  width: 100%;
    
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: 12px;  
    margin-left: 40px;
  }
.form_title {
  text-align: center;
  font-size: 24px;
  font-weight: var(--weight-title);
  color: var(--color-title);
}
.form_info {
  text-align: center;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: #6C757D;
}
.form_button {
  text-align: center;
  background: var(--color-primary);
  padding: 12px;
  border-radius: 4px;
  color: var(--color-white);
  transition: opasity 0.7s;
}
.form_button:hover {
  opacity: 0.7;
}
.form_button:active {
  opacity: 0.3;
}
.form_input_list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
}
.form_input {
  padding: 16px;
  border: 1px solid #CED4DA;
  
  border-radius: 4px;
}
.form_input::placeholder {
  color:#212529;
  font-size: var(--size-d);
}
.form_checkbox{
  display:flex;
  gap: 8px;
  align-items: center;
}
.form_checkbox > input {
  display: none;
}
.form_checkbox > input ~ div {
  border: 1px solid #CED4DA;
  border-radius: 4px;
  height: 13px;
  width: 13px;
}
.form_checkbox > input:checked ~ div {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
.form_checkbox > label {
  color: var(--color-title);
  font-size: var(--size-d);
  cursor: pointer
}
.info {
  text-align: left;

}
.info_title{
color: var(--color-title);
width: var(--weight-title);
font-size: 56px;
line-height: 120%;
}
.info_description{
  color: #212529;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.updates {
  padding: 2px 24px 24px 24px;
  color: #212529;
font-size: 24px;
font-style: normal;
font-weight: 400;
border-radius: 4px;
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);

}
.updates_title {
color: #212529;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400
}
.list {
  
  display: flex;
 flex-direction: row;

}
.svg {
  margin-top: 12px;
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  width: 32px; 
  height: 32px; 
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  
}
.svg:first-child {
 background: #007BFF;
}
.svg:nth-child(2) {
  background: #E83E8C;
 }
 .svg:nth-child(3) {
  background: #6F42C1;
 }
 .updates_list{
  margin-left: 8px;
  
  border-bottom: 1px solid #DEE2E6;
  
 }
.updates_list_nickname
{
  color: #6C757D;
font-size: 13px;
font-style: normal;
font-family: Roboto;
font-weight: 700;
line-height: 16px;
}
.updates_list_description {
  color: #6C757D;
font-size: 16px;
font-style: normal;
font-family: Roboto;
font-weight: 400;
line-height: 100%;

}
.show_all_block
{
  padding-top: 24px;
}
.show_all {

color: #007BFF;
text-align: right;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
transition: opacity 0.7s;
}
.show_all:hover {
  opacity: 0.5;

}
.expirience {
  margin-top: 80px;
  margin-bottom: 80px;
border-radius: 4px;
background: #F8F9FA;
}
.expirience_title{
  color: #212529;
font-family: Roboto;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 120%;
margin: 24px;
margin-top:24px;
}
.expirience_card {
  display:flex;
  flex-direction: row;
}
.expirience_card_item {
  border-radius: 12px;
background: #212529;
padding: 16px;
margin-right: 24px;
width: 30%;
}
.expirience_card_item:first-of-type {
 margin-left: 24px;
}
.expirience_name{
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.expirience_details {
  color: #B1B1B1;
  /* Regular/16px */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  align-self: stretch;
}
.badge_exp {
  display: inline-flex;
transform: rotate(30deg);
padding: 12px 24px;
flex-direction: column;
align-items: center;
gap: 12px;
border-radius: 70px;
background: #FF7347;
color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%;
position: relative;
left: calc(95%);
top: 110px;
}
.badge_exp_block {
  margin: 0;
}